In [7]:
#Importing basic libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [8]:
#importing dataset
heart=pd.read_excel("Heart_Disease.xlsx")

In [12]:
heart.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeGroup,BlackRace,Diabetic,PhysicalActivity2,GenHealth,SleepTime,Asthma,KidneyDisease2,SkinCancer2
0,0,16.60,1,0,0,3,30,0,1,8,0,1,1,3,5,1,0,1
1,0,20.34,0,0,1,0,0,0,1,13,0,0,1,3,7,0,0,0
2,0,26.58,1,0,0,20,30,0,0,10,0,1,1,1,8,1,0,0
3,0,24.21,0,0,0,0,0,0,1,12,0,0,0,2,6,0,0,1
4,0,23.71,0,0,0,28,0,1,1,5,0,0,1,3,8,0,0,0

In [13]:
heart.shape

(319795, 18)

In [14]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319795 entries, 0 to 319794
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   HeartDisease       319795 non-null  int64
 1   BMI                319795 non-null  float64
 2   Smoking            319795 non-null  int64
 3   AlcoholDrinking    319795 non-null  int64
 4   Stroke             319795 non-null  int64
 5   PhysicalHealth     319795 non-null  int64
 6   MentalHealth       319795 non-null  int64
 7   DiffWalking        319795 non-null  int64
 8   Sex                319795 non-null  int64
 9   AgeGroup           319795 non-null  int64
 10  BlackRace          319795 non-null  int64
 11  Diabetic           319795 non-null  int64
 12  PhysicalActivity2  319795 non-null  int64
 13  GenHealth          319795 non-null  int64
 14  SleepTime          319795 non-null  int64
 15  Asthma             319795 non-null  int64
 16  KidneyDisease2     319795 non-null  int64
 17  SkinCancer2        319795 non-null  int64
dtypes: float64(1), int64(17)
memory usage: 43.9 MB

In [18]:
#Assigning outcome variable
X=heart.drop(columns=['HeartDisease'])
y=heart.HeartDisease

In [20]:
X.head()

,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeGroup,BlackRace,Diabetic,PhysicalActivity2,GenHealth,SleepTime,Asthma,KidneyDisease2,SkinCancer2
0,16.60,1,0,0,3,30,0,1,8,0,1,1,3,5,1,0,1
1,20.34,0,0,1,0,0,0,1,13,0,0,1,3,7,0,0,0
2,26.58,1,0,0,20,30,0,0,10,0,1,1,1,8,1,0,0
3,24.21,0,0,0,0,0,0,1,12,0,0,0,2,6,0,0,1
4,23.71,0,0,0,28,0,1,1,5,0,0,1,3,8,0,0,0

In [21]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: HeartDisease, dtype: int64

In [22]:
#Splitting dataset intot test and train
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.8, random_state=0)

In [24]:
#Fitting Logistic Regression
from sklearn.linear_model import LogisticRegression
Regre=LogisticRegression()
Regre.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [25]:
#Predicting test data
predictions=Regre.predict(X_test)

In [26]:
predictions

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [32]:
#Checking accuracy of model
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.9158210728748104

In [33]:
#Coefficients
Regre.coef_

array([[ 0.00973255,  0.3486347 , -0.46240318,  1.02367941,  0.00140498,
         0.0058452 ,  0.14264105, -0.76115546,  0.27219338, -0.40409819,
         0.44231491, -0.05248515, -0.52600243, -0.04647026,  0.16747857,
         0.59979111,  0.0501257 ]])